<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>Controlador.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarUsuario</servlet-name>
        <servlet-class>Controlador.ValidarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Controlador.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>Controlador.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AprobarUsuario</servlet-name>
        <servlet-class>Controlador.AprobarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>Controlador.ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearGrupoForo</servlet-name>
        <servlet-class>Controlador.CrearGrupoForo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProductoCarritoCompra</servlet-name>
        <servlet-class>Controlador.AgregarProductoCarritoCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>Controlador.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaciarCarrito</servlet-name>
        <servlet-class>Controlador.VaciarCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarCompra</servlet-name>
        <servlet-class>Controlador.AgregarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCompra</servlet-name>
        <servlet-class>Controlador.BuscarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AprobarCompra</servlet-name>
        <servlet-class>Controlador.AprobarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesaprobarCompra</servlet-name>
        <servlet-class>Controlador.DesaprobarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AprobarCompraPorsiSola</servlet-name>
        <servlet-class>Controlador.AprobarCompraPorsiSola</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesaprobarCompraPorsiSola</servlet-name>
        <servlet-class>Controlador.DesaprobarCompraPorsiSola</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProducto</servlet-name>
        <servlet-class>Controlador.RegistrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearTemaForo</servlet-name>
        <servlet-class>Controlador.CrearTemaForo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarGrupoForo</servlet-name>
        <servlet-class>Controlador.EliminarGrupoForo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarTemaForo</servlet-name>
        <servlet-class>Controlador.EliminarTemaForo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarRespuestaTema</servlet-name>
        <servlet-class>Controlador.AgregarRespuestaTema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProductoCatalogo</servlet-name>
        <servlet-class>Controlador.EliminarProductoCatalogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProducto</servlet-name>
        <servlet-class>Controlador.ModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarRespueta</servlet-name>
        <servlet-class>Controlador.EliminarRespueta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarUsuario</servlet-name>
        <url-pattern>/ValidarUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AprobarUsuario</servlet-name>
        <url-pattern>/AprobarUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearGrupoForo</servlet-name>
        <url-pattern>/CrearGrupoForo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProductoCarritoCompra</servlet-name>
        <url-pattern>/AgregarProductoCarritoCompra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaciarCarrito</servlet-name>
        <url-pattern>/VaciarCarrito.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCompra</servlet-name>
        <url-pattern>/AgregarCompra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCompra</servlet-name>
        <url-pattern>/BuscarCompra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AprobarCompra</servlet-name>
        <url-pattern>/AprobarCompra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesaprobarCompra</servlet-name>
        <url-pattern>/DesaprobarCompra.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AprobarCompraPorsiSola</servlet-name>
        <url-pattern>/AprobarCompraPorsiSola.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesaprobarCompraPorsiSola</servlet-name>
        <url-pattern>/DesaprobarCompraPorsiSola.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProducto</servlet-name>
        <url-pattern>/RegistrarProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearTemaForo</servlet-name>
        <url-pattern>/CrearTemaForo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarGrupoForo</servlet-name>
        <url-pattern>/EliminarGrupoForo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarTemaForo</servlet-name>
        <url-pattern>/EliminarTemaForo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarRespuestaTema</servlet-name>
        <url-pattern>/AgregarRespuestaTema.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProductoCatalogo</servlet-name>
        <url-pattern>/EliminarProductoCatalogo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProducto</servlet-name>
        <url-pattern>/ModificarProducto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarRespueta</servlet-name>
        <url-pattern>/EliminarRespueta.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
